header {
  display: block;
}

nav ul {
  display: block;
}

section {
  margin: 0;
}

html{
    scroll-behavior: smooth;
}
.brand-text{
    color: aqua;
}
.hero-bg{
    background: linear-gradient(135deg,#f9fafb,#e5e7eb);
}
.btn-animate:hover {
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
body {
  border: 5px solid red;
}
.skill-card:hover {
  transform: translateY(-4px);
  transition: all 0.3s ease;
}
.project-card:hover {
  transform: translateY(-6px);
  transition: all 0.3s ease;
}
.skill-badge:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
footer a {
  position: relative;
}

footer a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

footer a:hover::after {
  width: 100%;
}
footer {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

footer.show {
  opacity: 1;
  transform: translateY(0);
}

