header {
  display: block;
}

nav ul {
  display: block;
}

section {
  margin: 0;
}

html{
    scroll-behavior: smooth;
}
.brand-text{
    color: aqua;
}
.hero-bg{
    background: linear-gradient(135deg,#f9fafb,#e5e7eb);
}
.btn-animate:hover {
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
body {
  border: 5px solid red;
}
.skill-card:hover {
  transform: translateY(-4px);
  transition: all 0.3s ease;
}
.project-card:hover {
  transform: translateY(-6px);
  transition: all 0.3s ease;
}
.skill-badge:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

