html{
    scroll-behavior: smooth;
}
.brand-text{
    color: aqua;
}
.hero-bg{
    background: linear-gradient(135deg,#f9fafb,#e5e7eb);
}
.btn-animate:hover {
  transform: translateY(-2px);
  transition: all 0.2s ease;
}
body {
  border: 5px solid red;
}
